[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "~=0.3.7"
langchain-chroma = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
chromadb = "~=0.5.18"
chromadbx = "~=0.0.6"
requests = "~=2.32.3"
fastapi = "~=0.115.5"
pydantic = "~=2.9.2"
jinja2 = "*"
python-multipart = "*"
uvicorn = "*"
pymupdf = "*" 

[dev-packages]
