<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">	 
        <div class="header">
            <h2>Upload files to RAG database</h2>        
            <a href="javascript:if (document.referrer) { history.back(); } else { window.location.href = '/chat'; }" class="nav-link">            
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back to chat
            </a>	  
        </div>    
        <ul id="fileList">
            <!-- Uploaded files will appear here -->
        </ul>
        <form id="fileForm" method="POST" enctype="multipart/form-data">
            <input type="file" id="fileInput"><br>
            <button id="submitBtn" type="submit">Upload Files</button>
            <!-- button id="submitBtn" type="submit" multiple>Upload Files</button -->              
            <p id="uploadMsg">Only .txt files in English are currently accepted.</p>	
        </form>
        <div id="loading" class="loading-indicator" style="display: none;">
            <!-- TODO: Add 'loading' indicator... -->
             Loading...
        </div>   
    </div>

    <script> 
        const fileInput = document.getElementById('fileInput');
        const fileForm = document.getElementById("fileForm");
        const fileList = document.getElementById("fileList");
        const loadingIndicator = document.getElementById('loading'); 

        // Reset the input field when clicked to ensure that the change event is always triggered
        fileInput.addEventListener('click', function() {
            // Set the input value to null so that the change event will fire even if the same file is selected multiple times.
            fileInput.value = null;
        });

        fileInput.addEventListener('change', function() {
            // Handle file selection
            const files = fileInput.files;
            if (files.length > 0) {
                console.log("Selected file: ${files[0].name}");
            }
        });
            
        // Handle file upload
        fileForm.addEventListener("submit", async function(event) {     
            // Prevent the default form submission       
            event.preventDefault();  

            // Show loading indicator
            showLoadingIndicator(true);

            // Get the files from the file input 
            const files = fileInput.files;             
            if (files.length === 0) { 
                alert("Please select files to upload.");
                return;
            }
            
            // Prepare the FormData object to send the files
            const formData = new FormData(); 
            for (let i = 0; i < files.length; i++) {
                formData.append("file" + i, files[i]);
            }

            try {
                // Send the FormData to the server using fetch
                const response = await fetch('/process', {
                    method: 'POST',
                    body: formData, // Send the files in the request body
                });

                // Check for a successful response  
                if (!response.ok) {
                    throw new Error(response.status);
                }

                // Collect JSON sent by the server
                const json = await response.json();                   
                console.log("Upload successful:", json);

                // Display the uploaded files                  
                Array.from(files).forEach(file => {
                    const li = document.createElement("li");
                    li.textContent = file.name;
                    fileList.appendChild(li);
                    // Scroll to the latest file
                    fileList.scrollTop = fileList.scrollHeight;  
                    }); 
                
                // Clear file input    
                fileInput.value = ''; 
            } catch (error) { 
                message = "Error occured while uploading document!";
                console.error(message, error); 
                alert(message);            
            } finally {
                // Hide loading indicator
                showLoadingIndicator(false);
            }
        });

        // Show or hide loading indicator
        function showLoadingIndicator(show) {
            if (show) {
                loadingIndicator.style.display = 'block';
            } else {
                loadingIndicator.style.display = 'none';
            }
        }
    </script>
</body>
</html>