<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">	 
        <div class="header">
            <h2>Upload PDF files</h2>        
            <a href="javascript:if (document.referrer) { history.back(); } else { window.location.href = '/chat'; }" class="nav-link">            
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back to chat
            </a>	  
        </div>    
        <ul id="fileList">
            <!-- Uploaded files will appear here -->
        </ul>
        <form id="fileForm" method="POST" enctype="multipart/form-data">
            <input type="file" id="fileInput" accept="application/pdf"><br>
            <button id="submitBtn" type="submit">Upload PDF</button>
            <!-- button id="submitBtn" type="submit" multiple>Upload Files</button --> 
        </form>
        <div id="loading" style="display: none;">
            <div id="spinner"></div>
        </div>   
    </div>

    <script> 
        const fileInput = document.getElementById('fileInput');
        const fileForm = document.getElementById("fileForm");
        const fileList = document.getElementById("fileList");
        const loadingIndicator = document.getElementById('loading'); 

        // Reset the input field when clicked to ensure that the change event is always triggered
        fileInput.addEventListener('click', function() {
            // Set the input value to null so that the change event will fire even if the same file is selected multiple times.
            fileInput.value = null;
        });

        fileInput.addEventListener('change', function() {
            // Handle file selection
            const files = fileInput.files;
            if (files.length > 0) {
                console.log("Selected file: ${files[0].name}");
            }
        });
            
        // Handle file upload
        fileForm.addEventListener("submit", async function(event) {     
            // Prevent the default form submission       
            event.preventDefault();  

            // Show loading indicator
            loadingIndicator.style.display = 'flex';

            // Get the files from the file input 
            const files = fileInput.files;             
            if (files.length === 0) { 
                alert("Please select a file to upload.");
                return;
            }
            
            // Prepare the FormData object to send the files
            const formData = new FormData(); 
            for (let i = 0; i < files.length; i++) {
                formData.append("file" + i, files[i]);
            }

            try {
                // Send the FormData with POST request to the server
                const response = await fetch('/process', {
                    method: 'POST',
                    body: formData, // Send the files in the request body
                });

                // Check for a successful response  
                if (!response.ok) {
                    throw new Error(response.status);
                }

                // Collect JSON sent by the server
                const json = await response.json();                   
                console.log("Upload successful:", json);

                // Display the uploaded files                  
                Array.from(files).forEach(file => {
                    const li = document.createElement("li");
                    li.textContent = file.name;
                    fileList.appendChild(li);
                    // Scroll to the latest file
                    fileList.scrollTop = fileList.scrollHeight;  
                    }); 
                
                // Clear file input    
                fileInput.value = ''; 
            } catch (error) { 
                message = "Error occured while uploading a document!";
                console.error(message, error); 
                alert(message);            
            } finally {
                // Hide loading indicator
                loadingIndicator.style.display = 'none';
            }
        });  

        /* 
        In JavaScript, async and await are used to work with asynchronous operations and Promises in a more readable way.
        Promise: An object that represents the eventual completion (or failure) of an asynchronous operation, and its resulting value.  
        async: A keyword used to declare a function as asynchronous. An asynchronous function always returns a Promise. 
               If a value is returned from an async function, it is wrapped in a Promise. 
               If an exception is thrown inside the function, it returns a rejected Promise.
        await: Used inside an async function to pause the execution of the function until the Promise is resolved or rejected. 
               It waits for the Promise to complete and returns the resolved value. 

        */
    </script>
</body>
</html>
